annotated-types
anyio
appnope
asttokens
audioread
certifi
cffi
charset-normalizer
click
comm
contourpy
cycler
debugpy
decorator
executing
fastapi
filelock
fonttools
fsspec
h11
idna
ipykernel
ipynb
ipython
ipython_pygments_lexers
jedi
Jinja2
joblib
jupyter_client
jupyter_core
kiwisolver
lazy_loader
librosa
llvmlite
MarkupSafe
matplotlib
matplotlib-inline
motor
mpmath
msgpack
nest-asyncio
networkx
numba
numpy
packaging
parso
pexpect
pillow
platformdirs
pooch
prompt_toolkit
psutil
ptyprocess
pure_eval
pycparser
pydantic
pydantic_core
pydub
Pygments
pyparsing
python-dateutil
python-multipart
pyzmq
requests
scikit-learn
scipy
setuptools
six
sniffio
soundfile
soxr
stack-data
starlette
sympy
threadpoolctl
torch
torchaudio
tornado
tqdm
traitlets
transformers
typing_extensions
urllib3
uvicorn
wcwidth